.c {
  		/*position: relative;*/
			max-width: 74em;
			padding-top: 10%;
		}
		.c-list-container {
			overflow: hidden;
			padding-top: 5%;
			/*position: relative;*/

		}
		.c-list {
			width: 99999em;
			/*position: relative;*/
			left: 0;
			-webkit-transition: left 0.5s ease-out; 
     		-moz-transition: left 0.5s ease-out;  
       		-o-transition: left 0.5s ease-out; 
        	transition: left 0.5s ease-out;

		}

		.c li {
			float: left;
			max-width: 65em;
			/*margin-right: 9em;*/


		}
		.c li a {
			display: block;
			max-width: 65em;
		}
		.c img {
			padding-left: 2%;
			/*display: block;*/
		}
		.c h2 {

		}
		.summary {
			padding: .5%;
			margin-right: .5%;
		}
		.white{
			color: #FFFFFF;
		}
		.c-nav {
			clear: both;
		/*	overflow: hidden;*/
/*			border-top: 1px solid #404040;*/
		}
		.c-nav a {
			float: left;
			width: 50%;
			padding: 1em;
			-webkit-transition: opacity 0.5s ease-out; 
     		-moz-transition: opacity 0.5s ease-out;  
       		-o-transition: opacity 0.5s ease-out; 
        	transition: opacity 0.5s ease-out;
		}
		.c-nav a.next {
			/*border-left: 1px solid #404040;*/
			text-align: right;
		}
		.c-nav a.inactive {
			opacity: 0.2;
			
		}
		
		/* Medium */
		@media screen and (min-width: 35em) {
			.c {
				padding: 1em 0.5em 0;
			}
			.c li {
				padding: 0 0.5em;
			}
			body:after { /* Conditional CSS http://adactio.com/journal/5429/ */
		        content: 'medium';
		        display: none;
	   		}
		}

		
		/* Large */
		@media screen and (min-width: 56.25em) {
			body:after {  Conditional CSS http://adactio.com/journal/5429/ 
		        content: 'large';
		        display: none;
	   		}
		}
		
		/*Large with room to spare on either side */
		@media screen and (min-width: 82em) {
			.c-nav a {
				position: absolute;
				top: 40%;
				left: -4em;
				width: 4em;
				height: 2em;
				padding: 0;
				margin-top: -1em;
			}
			.c-nav a.next {
				left: auto;
				right: -4em;
				border: 0;
			}
		}

.backRed {
	background-color: #F24C27;
}

.addPaddingTop {
	padding-top: 20%;
}

.centerish {
	margin-right: 45%;
	margin-left: 47%;
	margin-bottom: 0%;
	margin-top: 0%;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 17px solid #404040;
	vertical-align: 50%;
}

.testPurple {
	background-color: purple; 
	float: left;
	max-width: 60em;
	margin-right: 1%;
	border-right: 1%
	margin-top: 1em;
	width: 100%
}