/*-----------------  GENERAL ----------------- */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #FFFFFF;
  font-size: 115%;
  color: #576066; 
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*-----------------  GENERAL FONTS  ----------------- */

.addPaddingTop {
  padding-top: 20%;
  margin-bottom: 0;
}
h1 {
  font-size: 450%;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 200%;
  font-family: 'Roboto', sans-serif;
}
/*-----------------  GENERAL COLORS  ----------------- */
.white {
  background-color: #FFFFFF;
}

.pink {
  background-color: #FDE8E9;
}

.softGray {
  background-color: #F2F2F2;
}

.medBeige {
  background-color: #DEDBD2;
}

.medGray {
  background-color: #ABABAB;
}

a.textGray{
  color: #576066; 
  opacity: .5;
}
a.textGray:hover{
  color: #FFFFFF; 
}

.rounded {
  border-radius: 1%;
  padding: 4% 4%;
}

.linkBlue {
  color: #92DCE5;
}
a.linkBlue{
  color: #92DCE5;
  font-weight: bolder
}

a.linkBlue:hover{
  color: #779FA4;
}
.linkBlue:hover {
  color: #779FA4;
}
/*-----------------  GENERAL SPACING  ----------------- */
.clearfix {
  overflow: auto;
  zoom: 1;
}

.alignRight {
  float: right;
}

.marginOneCol {
  padding-top: 5%;
  margin-left: 0px;
}

.sectionMargin {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 5%;
}

/*-----------------  SLIDING HEADER ----------------- */

#header {
  background: no-repeat center;
  background-size: cover;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
/* line 44, ../sass/screen.scss */
#header .center {
  background: #FFFFFF;
  text-align: center;
  position: absolute;
  color: #FFFFFF;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
/* line 54, ../sass/screen.scss */
#header .center .middle {
  position: absolute;
  margin-top: -6em;
  right: 0;
  left: 0;
  top: 30%;
}
/* line 61, ../sass/screen.scss */
#header .center h1 {
  margin: 0;
}


/* line 83, ../sass/screen.scss */
#pageHr, #pageHrBorder {
  border-bottom: 31px solid #DEDBD2;
  margin-top: -45px;
  height: 25px;
  display: block;
  right: 0px;
  left: 0px;
  top: 100%;
}

/* line 94, ../sass/screen.scss */
#pageHr .a:before,
#pageHr .a:after, #pageHrBorder .a:before,
#pageHrBorder .a:after {
  border-color: #FFFFFF transparent;
  border-style: solid;
  position: absolute;
  display: block;
  content: "";
}
/* line 102, ../sass/screen.scss */
#pageHr .a:before, #pageHrBorder .a:before {
  border-width: 0 23px 23px 0;
  margin-left: 12.5px;
  right: 50%;
}
/* line 107, ../sass/screen.scss */
#pageHr .a:after, #pageHrBorder .a:after {
  border-width: 0 0 23px 23px;
  margin-right: 12.5px;
  left: 50%;
}
/* line 112, ../sass/screen.scss */
#pageHr .s:before,
#pageHr .s:after, #pageHrBorder .s:before,
#pageHrBorder .s:after {
  background: #FFFFFF;
  position: absolute;
  display: block;
  content: "";
  right: 0;
  left: 0;
}
/* line 121, ../sass/screen.scss */
#pageHr .s:before, #pageHrBorder .s:before {
  margin-right: 25px;
  right: 50%;
}
/* line 126, ../sass/screen.scss */
#pageHr .s:after, #pageHrBorder .s:after {
  margin-left: 25px;
  left: 50%;
}

/* line 133, ../sass/screen.scss */
#pageHrBorder {
  border-bottom-color: #FFFFFF;
  margin-top: -56px;
}
/* line 137, ../sass/screen.scss */
#pageHrBorder .a:before,
#pageHrBorder .a:after {
  border-color: #FFFFFF transparent;
}
/* line 141, ../sass/screen.scss */
#pageHrBorder .a:before {
  margin-right: -5.5px;
}
/* line 144, ../sass/screen.scss */
#pageHrBorder .a:after {
  margin-left: -5.5px;
}
/* line 152, ../sass/screen.scss */
#pageHrBorder .s:before {
  margin-right: 19.21053px;
}
/* line 155, ../sass/screen.scss */
#pageHrBorder .s:after {
  margin-left: 19.21053px;
}

/* line 160, ../sass/screen.scss */
#page {
  background: #FFFFFF;
  position: relative;
  height: 123.45%;
  top: 100%;
}

/* line 169, ../sass/screen.scss */
.centerish {
  margin-right: -5.5px;
  margin-left: -5.5px;
}

/* line 174, ../sass/screen.scss */
.triangle {
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 17px solid #FFFFFF;
  vertical-align: 90%;
  position: relative;
}

.centerish {
  margin-right: 45%;
  margin-left: 47%;
  margin-bottom: 0%;
  margin-top: 0%;
}



.hrLaura { 
  color: #576066;
  font-family: 'Roboto', sans-serif;
}

.addPosition{
  margin-top: 25%;
}
.laura{
  margin-top: 15%;
}


/*-----------------  NAV BAR & SCROLL -----------------*/
a {
  &:hover {
    color: #4fb3e8;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
  }
  text-decoration: none;}

nav {
  /*float: left;*/
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

  nav .padded {
    /*padding: 30px;*/
}

ul {
  /*float: left;*/
  width: 100%;
  /*margin: 10px 0px 5px 0; /*Padding Fix*/*/
  padding: 0;}

ul li {
  display: inline;
  /*margin-left: -5%;*/
  display: inline; 
  /*margin-right: 0px;*/
  &:nth-child(even) a {
    background: #4a6c8c ;
  }
  list-style: none;}

ul li a {
  display: inline;
  padding: 20px;
  font-family: "Exo", sans-serif;
  font-weight: 200;
  &:hover {
    color: #fff;
    background: #e6764e;
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
  }
  color: #fff;
  text-decoration: none;
}

#navBar{
  /*margin-right: 30%;*/
}

ul li.active a {
  background: #F2F2F2;
}

/*scroll top*/
ul li.scrollTop {
  /*float: right;*/

}

#navContainer{
  margin: 0;
  padding: 20px;
  list-style-type: none;
}

#navcontainer ul li { 
  display: inline; 
}




/*-----------------  ABOUT ME  -----------------*/

.profilePic {
  width: 30%;
  border-radius: 2%;
  float: left;
  display: inline-block;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.aboutMeMargin{
  margin-top: 4%;
  margin-right: 5%;
  min-width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 5%;
}

/*in line block*/
.boxProfileText {
  display: inline-block;
  width: 70%;
}

.aboutMeLinks {
  color: #ABABAB;

}

/*-----------------  PROJECTS ----------------- */
#owl-demo{
  margin-top: 20%;
}
.projectMargin {
  margin-left: 5%;
  margin-top: 4%;
  margin-right: 5%;
  min-width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 6%;
}

.projectText {
  padding-top: 1%;
}

.projectsTitle{

}

.projectTopRated {
  width: 40%;
  margin: 1%;
  float: left;
  padding-bottom: 4%;
}

.projectMedian{
  width: 40%;
  margin: 1%;
  padding-bottom: 4%;
}

.projectPic{
  border-radius: 2%;
  width: 100%;
  margin: 0 auto;
}

/*in line block*/
.boxProjectPic {
  border-radius: 2%;
  display: inline-block;
  width: 40%;
  margin: 1%;
  margin-left: 5%;
}

.ten.column.wide{
  min-width: 300px;
}
.github{
  margin-top: 5%;
}

.heroku{
  padding-top: 5%;
}
/*-----------------  BLOG ----------------- */
.boldText {
  font-weight: bolder
}

.blogBehindText {
  background-color: #FEF3F4;
  border-radius: 5px;
  padding: 3% 3%;
}
.blogPost{
  position: relative;
}
.blogFooter {
  float: right;
  display: inline-block;
}

.afterCodeSnip {
  padding-top: 3%;
  font-family: 'Roboto', sans-serif;
}

.sources {
  padding-top: 3%;
  padding-bottom: 3%;
}

.ui.basic.button.tumblrButton {
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 2%;
  padding: 1% 7%;
  font-size: 100%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  filter: Alpha(Opacity=90);/*IE7 fix*/
  color: #92DCE5;
  
}

/*-----------------  FOOTER ----------------- */
.contactMe{
  color: #92DCE5;
  font-weight: bolder;
  text-align: center;
  font-size: 115%;
  padding-top: 20%;
}

a.iconColor {
  color: #92DCE5;
}

a.iconColor:hover {
  color: #779FA4;
}

.socialLinks {
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
}

.centerIcons {
  margin: 0;
}
.ui.grid.center.aligned.contact{
  margin-bottom: 30%;
}
/*-----------------  TESTING ----------------- */
.one.wide.column.backRed{
  min-height: 20px;
}
.red{
  background-color: red;
}
.zIndexThree{
   z-index: -3;
}
/*-----------------  STICKY MENU  ----------------- */
.ui.menu{
  font-size: 100%;
}
.main.menu {
    border-radius: 0;
    border: none;
    box-shadow: none;
/*    transition:
      box-shadow 0.5s ease,
      padding 0.5s ease
    ;*/
  }
  .overlay {
    float: left;
  }
  .overlay .menu {
    left: 0;
    /*transition: left 0.5s ease;*/
  }
  .main.menu.fixed {
    background-color: #FFFFFF;
    /*border: 1px solid #DDD;*/
    /*box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);*/
  }
  .overlay.fixed .menu {
    /*left: 800px;*/
  }

 .zIndexOne{
    z-index: -1;
  }
  .zIndexTwo{
    z-index: -2;
  }
